.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-brand img {
    width: 50px;
    margin-right: 5px;
}

.txt {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 5px;
}

.navbar-brand span {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 5px;
}

.sel {
    margin: 3rem;
}

.movie-container {
    margin: 1rem 10rem 1rem 10rem;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.movie-row {
    margin: 1.5rem;
    display: flex;
}

.movie-card {
    margin: 1.5rem;
    min-width: 12rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: rgba(32, 32, 32, 0.804);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    color: white;
}

.movie-card :hover {
    background-color: rgba(32, 32, 32, 0.871);
}

.header_section .container-fluid {
    background-color: #000000d4;
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.header_section .nav_container {
    margin: 0 auto;
}